/**
 *    Placeholders to be used within SAAS
 *    --> to be used with "+" sign
 */
=no-border
  border: none !important
=no-outline-shadow
  outline: none
  box-shadow: none !important

=no-shadow
  box-shadow: none !important
=no-shadow-hover
  &:hover,
  &:active,
  &:focus
    box-shadow: none !important
  &:active:focus
    box-shadow: none !important
  &:focus-within
    box-shadow: none !important

=shadow-sm-dark
  box-shadow: 0 0.125rem 0.25rem transparentize($black, .75)

=shadow-md
  box-shadow: 0 .125rem .75rem rgba(0,0,0,0.17) 

=bg-yellow-40p
  background: lighten($yellow, 40%) !important

/** Placeholders End */

/**
 *    BRANDLUMIN BASE CLASSES
 */

/* Removing border */
.no-border
  border: none !important
.no-outline-shadow
  outline: none
  box-shadow: none !important

/* removing shadows */
.no-shadow
  box-shadow: none !important
.no-shadow-hover
  transition: 0.3s all ease-out
  &:hover,
  &:active,
  &:focus
    box-shadow: none !important
  &:active:focus
    box-shadow: none !important
  &:focus-within
    box-shadow: none !important

/* creating dark shadow for shadow-sm */
.shadow-sm-dark
  box-shadow: 0 0.125rem 0.25rem transparentize($black, .75)

/* medium size shadows */
.shadow-md
  box-shadow: 0 .125rem .75rem rgba(0,0,0,0.17) 

/* extra small size text-shadows */
.text-shadow-xs
  text-shadow: 0 .125rem .125rem rgba(0,0,0,0.27) 

/* small size text-shadows */
.text-shadow-sm
  text-shadow: 0 .25rem .25rem rgba(0,0,0,0.17) 

/* medium size text-shadows */
.text-shadow-md
  text-shadow: 0 .25rem .5rem rgba(0,0,0,0.27) 

/* center vertically */
.center-vertical
  left: 50%
  transform: translateX(-50%)


/* Removing oulines from input fields */
input,
select,
/* button, */ 
/* .btn, */ 
textarea 
  +no-outline-shadow
  &:hover,
  &:active,
  &:focus
    +no-outline-shadow
  &:active:focus
    +no-outline-shadow

/* Removing borders from input fields */
label,
input,
select,
textarea,
.input-group-prepend
  +no-border

/* Adding background to input fields */
.bg-yellow-40p
  background: lighten($yellow, 40%) !important

/**
 *    BASE CLASSES
 */
.rounded-lg-x
  border-radius: .5rem !important

p,
li,
ol
  &:last-of-type
    margin-bottom: 0

.sticky-footer
  position: fixed !important
  bottom: 0 !important
  width: 100% !important


[pointer]
  cursor: pointer

[zoomIn]
  cursor: zoom-in

[zoomOut]
  cursor: zoom-out


footer
  box-shadow: 0 -0.125rem 0.25rem rgba(0,0,0,0.15) 