/**
 *    CUSTOMIZING BOOTSTRAP FOR BRANDLUMIN
 */

/* Setting HTML and BODY height */
html, body
  min-height: 100vh

/* Styling HEADER */
header #navbarHeader
  & + .navbar
    box-shadow: 0 0.125em 0.2em #0006
  &.show + .navbar
    box-shadow: 0 0.125em 0.5em #0007

/* Removing oulines from input fields */
// section
//   &:not(:first-of-type)
//     margin-top: 5em

/* Making "LEAD" font-size responsive */
.jumbotron
  margin-top: 0 !important
  .lead
    @media (max-width: 767.98px)
      font-size: 1rem

// main[role=main]
//   section
//     &:only-child,
//     & + section
//       margin-top: 3rem


main[role=main]
  section
    margin-top: 1rem
    &:only-child
      margin-top: 0
    & + section
      margin-top: 2rem


/* Removing oulines from input fields */
form
  .text-muted
    color: $gray-200 !important
  border-radius: .5em
  box-shadow: 0 .5em 1.5em transparentize(black, .8)
  background: CornflowerBlue
  border: 1px solid lighten(DodgerBlue, 30)
  transition: 300ms box-shadow ease
  &:hover
    box-shadow: 0 0 1em -.125em transparentize($green,0.5)
    border: 1px solid transparentize($green, 0.7)
  &:focus-within
    box-shadow: none
    border: 1px solid lighten(DodgerBlue, 30)

/* Removing oulines from input fields */
input,
select,
textarea
  +no-outline-shadow
  &:hover,
  &:active,
  &:focus
    +no-outline-shadow
  &:active:focus
    +no-outline-shadow

/* Removing borders from input fields */
label,
input,
select,
textarea,
.input-group-prepend
  +no-border

/* Removing BOTTOM MARGIN from last elements */
p,
li,
ol
  &:last-of-type
    margin-bottom: 0


/* setting label width */
label
  @media (min-width: 768px)
    min-width: 110px
.form-check
  label
    min-width: unset

/* Setting FOOTER */
footer
  box-shadow: 0 0 0.2em #0003

.alert
  z-index: 2000
  +shadow-sm-dark