/**
 *    CUSTOMIZING BOOTSTRAP FOR BRANDLUMIN
 */

/* Setting HTML and BODY height */
html, body
  min-height: 100vh

/* Styling HEADER */
header #navbarHeader
  & + .navbar
    box-shadow: 0 0.125em 0.2em #0006
  &.show + .navbar
    box-shadow: 0 0.125em 0.5em #0007

/* Making "LEAD" font-size responsive */
.jumbotron
  .lead
    @media (max-width: 767.98px)
      font-size: 1rem

main[role=main]
  padding: 1.5rem 0
  section
    & + section
      margin-top: 1.5rem

/* Removing oulines from input fields */
form
  .text-muted
    color: $gray-200 !important
  margin-bottom: 0
  border-radius: .5em
  background: CornflowerBlue
  border: 1px solid lighten(DodgerBlue, 30)
  transition: 300ms box-shadow ease
  box-shadow: 0 .2em .7em transparentize(black, 0.8)
  &:hover
    box-shadow: 0 0 .7em -.125em transparentize($green,0.5)
    border: 1px solid transparentize($green, 0.7)
  &:focus-within,
  &:active,
  &:focus
    box-shadow: none !important
    border: 1px solid lighten(DodgerBlue, 30)

/* Removing oulines from input fields */
input,
select,
textarea
  +no-outline-shadow
  &:hover,
  &:active,
  &:focus,
  &:active:focus,
  &:focus-within
    +no-outline-shadow

/* Removing borders from input fields */
label,
input,
select,
textarea,
.input-group-prepend
  +no-border

/* Removing BOTTOM MARGIN from last elements */
p,
li,
ol
  &:last-of-type
    margin-bottom: 0


/* setting label width */
label
  @media (min-width: 768px)
    min-width: 110px
.form-check
  label
    min-width: unset


.custom-radio
  /* This is the default state */
  .custom-control-label
    &::before
      background-color: dodgerblue
      box-shadow: inset -1px 2px 0 4px transparentize($black, 0.85)
  /* This is the checked state */
  .custom-control-input
    &:checked ~ .custom-control-label::before,
    &:checked ~ .custom-control-label::after
      border-radius: 50%
      background-color: $green 
      /* this bg image SVG is just a circle, you can replace it with any valid SVG code */
    /* active state i.e. displayed while the mouse is being pressed down */
    &:active ~ .custom-control-label::before
      color: $white
      background-color: lighten($green, 15%)
      /* the shadow; displayed while the element is in focus */
    &:focus ~ .custom-control-label::before 
      box-shadow: 0 0 0 2px transparentize($green, .85)



.custom-switch
  .custom-control-label
    color: $gray-200 !important
    &::before
      left: -3.25rem
      width: 2.75rem
      border: 1px solid $white !important
      background-color: $gray-400 !important
      box-shadow: inset -1px 0 4px transparentize($black, 0.6), 0 0 3px transparentize($white, 0.4) !important
    &::after
      left: calc(-3.25rem + 2px)
      background-color: $gray-200 !important
      box-shadow: 2px 0 4px transparentize($black, 0.7) !important
  .custom-control-input
    &:checked
      & ~ .custom-control-label
        color: $white !important
        text-shadow: 0 .125rem .125rem rgba(0,0,0,0.27) 
        &::before
          border-color: $white !important
          background-color: $green !important
          box-shadow: inset 1px 0 4px transparentize($black, 0.6), 0 0 3px transparentize($white, 0.4) !important
        &::after
          background-color: $white !important
          transform: translateX(1.75rem) !important
          box-shadow: -2px 0 4px transparentize($black, 0.7) !important
    &:focus ~ .custom-control-label::before
      box-shadow: inset 1px 0 4px transparentize($black, 0.6), 0 0 3px transparentize($white, 0.4) !important




/* Setting FOOTER */
footer
  box-shadow: 0 0 0.2em transparentize($black, 0.7)

.alert
  z-index: 2000
  +shadow-sm-dark