[name=subtitle]
  background: lighten(CornflowerBlue, 20%)
  color: $gray-700
  padding: 0.5rem 1rem
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
  & + .list
    div
      cursor: pointer
      &:hover
        +bg-yellow-40p
        +shadow-sm-dark
.bl__home_cmf,
.bl__home_amf
  // Designing Address input field
  label[for*="addr"]
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  input[name*="addr"]
    border-top-left-radius: 0
    border-bottom-left-radius: 0
